stages:
- stage: stage1
  displayName: pull_docker_image
  pool:
   vmImage: 'ubuntu-16.04'
  jobs:
  - job: job1
    steps:
      - task: Docker@2
        displayName: Build an image
        inputs:
         containerRegistry: 'docker1'
         repository: 'image1'
         command: build
         Dockerfile: app/Dockerfile